{%- import 'snippets/snippets.j2' as snippets with context -%}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>{% block title %}{{ request.domain }}{% endblock %}</title>
  <meta charset="utf-8" />
 
  <!-- this makes mobile pretty...  -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#030408">

  {% include 'snippets/stylesheet-includes.j2' %}

  <link rel="stylesheet" href="/static/theme/westworld/css/theme.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:700">

  {% include 'snippets/javascript-includes.j2' %}
  
</head>

<body>

<noscript>
  <style>
    .js-only {display: none;}
  </style>
</noscript>

{% include 'snippets/flash-alerts.j2' %}

<div class="searchbox">
  {% include 'snippets/search.j2' %}
</div>

<h1 class="brand"><a href="/">
WESTWORLD <span style="font-size: .5em; letter-spacing: 5px;" class="mobile-hide">Forum</span></a>
</h1>

<div id="remarkbox-menu">
{%- block menu %}
  <a href="/">home</a> |
  <a href="/new">new thread</a> |

  {%- if request.user %}
  {{ snippets.user_link(request.user) }} <a href="/log-out">[log out]</a>
  {% else %}
  <a href="/join-or-log-in">join-or-log-in</a>
  {%- endif %}
{%- endblock %}
</div>

<br>
<br>

<div class="main">
{% block content %}
{% endblock %}
</div>

{% include 'snippets/phone-menu.j2' %}

<div id="remarkbox-footer">
  <br />
  <br />
  <center>
  {% include 'snippets/powered-by.j2' %}
  <center>
</div>

</body>
</html>
